* {
    font-family: Helvetica;
}
.cardButton {
    background-color: green;
    cursor: pointer;
}

.mainCard {
    display: inline-block;
    flex-grow: 1;
}


.title {
    font-size: 14;
}

.bullet{
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}

.pos {
    margin-bottom: 12;
}

.travelTitle:hover {
    width: fit-content;
    height: 113px;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-family: "Maiden Orange", serif;
    letter-spacing: 0px;
    line-height: 1.2;
    color: #ffffff;
    font-size: 72px;
    text-align: left;
}

.travelTitle{
    width: fit-content;
    height: 81px;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-family: "Maiden Orange", serif;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0px;
    line-height: 1.2;
}